{% extends "user/base.html"%}
{% block content %}

            <!-- content @s -->
            <div class="nk-content nk-content-lg nk-content-fluid">
                <div class="container-xl wide-lg">
                    <div class="nk-content-inner">
                        <div class="nk-content-body">
                            <p>Blank Layout for Invest Panel</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content @e -->
           
{% endblock content%}