{% extends 'administrator/base.html' %}


{% block content %}


            <!-- content @s -->
            <div class="nk-content nk-content-lg nk-content-fluid">
                <div class="container-xl wide-lg">
                    <div class="nk-content-inner">
                        <div class="nk-content-body">
                            <div class="nk-block-head">
                                <div class="nk-block-head-content">
                                    <div class="nk-block-head-sub"><a href="{% url 'investment_list'%}" class="text-soft back-to"><em class="icon ni ni-arrow-left"> </em><span>My Investment</span></a></div>
                                    <div class="nk-block-between-md g-4">
                                        <div class="nk-block-head-content">
                                            <h2 class="nk-block-title fw-normal">{{scheme.name_of_scheme}} - Monthly X% for {{scheme.term_of_scheme}} Months</h2>
                                            <div class="nk-block-des">
                                                 <p>{{scheme.user_id}} <span class="badge badge-outline badge-primary">{{scheme.investment_status}}</span></p>
                                                <!-- <form method = 'POST'>
                                                    {% csrf_token%}
                                                    {{form.investment_status}}
                                                    <button class="btn" type="submit" value=" {{scheme.investment_status}}"> submit</button>
                                                    
                                                    
                                                </form> -->
                                               <!--  <form method ='POST'>
                                                    {% csrf_token%}
                                                    {{form.investment_status}}
                                            
                                                    <button class="btn" type="submit"> submit</button>
                                                </form> -->
                                                <a href="{% url 'Update_investment' scheme.pk  %}">update</a>
                                               
                                                    
                                            </div>
                                        </div>
                                        <div class="nk-block-head-content">
                                            <ul class="nk-block-tools gx-3">
                                                <li class="order-md-last"><a href="#" class="btn btn-danger"><em class="icon ni ni-cross"></em> <span>Cancel this plan</span> </a></li>
                                                <li><a href="#" class="btn btn-icon btn-light"><em class="icon ni ni-reload"></em></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .nk-block-head -->
                            <div class="nk-block">
                                <div class="card card-bordered">
                                    <div class="card-inner">
                                        <div class="row gy-gs">
                                            <div class="col-md-6">
                                                <div class="nk-iv-wg3">
                                                    <div class="nk-iv-wg3-group flex-lg-nowrap gx-4">
                                                        <div class="nk-iv-wg3-sub">
                                                            <div class="nk-iv-wg3-amount">
                                                                <div class="number">{{scheme.capital_invested}}</div>
                                                            </div>
                                                            <div class="nk-iv-wg3-subtitle">Invested Amount</div>
                                                        </div>
                                                        <div class="nk-iv-wg3-sub">
                                                            <span class="nk-iv-wg3-plus text-soft"><em class="icon ni ni-plus"></em></span>
                                                            <div class="nk-iv-wg3-amount">
                                                                <div class="number">{{scheme.profit_earned}} <span class="number-up">4.76 %</span></div>
                                                            </div>
                                                            <div class="nk-iv-wg3-subtitle">Profit Earned</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- .col -->
                                            <div class="col-md-6 col-lg-4 offset-lg-2">
                                                <div class="nk-iv-wg3 pl-md-3">
                                                    <div class="nk-iv-wg3-group flex-lg-nowrap gx-4">
                                                        <div class="nk-iv-wg3-sub">
                                                            <div class="nk-iv-wg3-amount">
                                                                <div class="number">{{scheme.total_return}} <span class="number-down">1017.14 <em class="icon ni ni-info-fill" data-toggle="tooltip" data-placement="right" title="tooltip text"></em></span></div>
                                                            </div>
                                                            <div class="nk-iv-wg3-subtitle">Total Return</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- .col -->
                                        </div><!-- .row -->
                                    </div>
                                    <div id="schemeDetails" class="nk-iv-scheme-details">
                                        <ul class="nk-iv-wg3-list">
                                            <li>
                                                <div class="sub-text">Term</div>
                                                <div class="lead-text">{{scheme.term_of_scheme}} Months</div>
                                            </li>
                                            <li>
                                                <div class="sub-text">Term start at</div>
                                                <div class="lead-text">{{scheme.term_begins}}</div>
                                            </li>
                                            <li>
                                                <div class="sub-text">Term end at</div>
                                                <div class="lead-text">{{scheme.term_ends}}</div>
                                            </li>
                                            <li>
                                                <div class="sub-text">Daily interest</div>
                                                <div class="lead-text">4.76%</div>
                                            </li>
                                        </ul><!-- .nk-iv-wg3-list -->
                                        <ul class="nk-iv-wg3-list">
                                            <li>
                                                <div class="sub-text">Ordered date</div>
                                                <div class="lead-text">{{scheme.order_date}}</div>
                                            </li>
                                            <li>
                                                <div class="sub-text">Approved date</div>
                                                <div class="lead-text">{{scheme.approved_date}}</div>
                                            </li>
                                            <li>
                                                <div class="sub-text">Payment method</div>
                                                <div class="lead-text">{{scheme.payment_method}}</div>
                                            </li>
                                            <li>
                                                <div class="sub-text">Paid <small>(fee include)</small></div>
                                                <div class="lead-text"><span class="currency currency-usd">USD</span> {{scheme.payment_status}}</div>
                                            </li>
                                        </ul><!-- .nk-iv-wg3-list -->
                                        <ul class="nk-iv-wg3-list">
                                            <li>
                                                <div class="sub-text">Captial invested</div>
                                                <div class="lead-text"><span class="currency currency-usd">USD</span> {{scheme.capital_invested}}</div>
                                            </li>
                                            <li>
                                                <div class="sub-text">Daily profit</div>
                                                <div class="lead-text"><span class="currency currency-usd">USD</span> {{scheme.daily_profit}}</div>
                                            </li>
                                            <li>
                                                <div class="sub-text">Net profit</div>
                                                <div class="lead-text"><span class="currency currency-usd">USD</span> {{scheme.net_profit}}</div>
                                            </li>
                                            <li>
                                                <div class="sub-text">Total return</div>
                                                <div class="lead-text"><span class="currency currency-usd">USD</span> {{scheme.total_return}}</div>
                                            </li>
                                        </ul><!-- .nk-iv-wg3-list -->
                                    </div><!-- .nk-iv-scheme-details -->
                                </div>
                            </div><!-- .nk-block -->
                            
                          
                        </div>
                    </div>
                </div>
            </div>
            <!-- content @e -->
          {% endblock content  %}
