 


  <!-- {% if u.blocked == active%}  -->

                                                    <div class="nk-tb-col tb-col-md">
                                                        <span class="tb-status text-success">{{u.blocked}}</span>
                                                    </div>

                                                   <!--  {% elif u.blocked ==%}
                                                    <div class="nk-tb-col tb-col-md">
                                                        <span class="tb-status text-warning">Pending</span>
                                                    </div>

                                                    {% else u.blocked ==%}
                                                    <div class="nk-tb-col tb-col-md">
                                                        <span class="tb-status text-danger">Suspend</span>
                                                    </div>

                                                    {{ endif }}
                                                     <div class="nk-tb-col tb-col-md">
                                                        <span class="tb-status text-info">Inactive</span>
                                                    </div>
 -->